<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type='text/javascript' src="/javascripts/jquery.min.js"></script>
    <script type='text/javascript' src="/javascripts/codes.js"></script>
    <script type='text/javascript' src="/javascripts/attacks.js"></script>
    <script type='text/javascript' src="/javascripts/ui.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
